<div class="container bg-gray-1">
    <div class="card-1 bg-gray-4 shadow-inset-top">
        <div class="c-1-img">
            <i class="fab fa-accessible-icon fa-4x c-gray-8"></i>
        </div>
        <div class="c-1-text c-gray-8">
            <p>Accessibility</p>
        </div>
    </div>

    <div class="card-2 bg-gray-4 shadow-inset-bottom">
        <div class="c-1-img">
            <i class="fab fa-accessible-icon fa-4x c-gray-8"></i>
        </div>
        <div class="c-1-text c-gray-8">
            <p>Accessibility</p>
        </div>
    </div>

    <div class="card-3 bg-gray-4 shadow-raised-1">
        <div class="c-1-img">
            <i class="fab fa-accessible-icon fa-4x c-gray-8"></i>
        </div>
        <div class="c-1-text c-gray-8">
            <p>Accessibility</p>
        </div>
    </div>
    <div class="card-4 bg-gray-4 shadow-raised-5">
        <div class="c-1-img">
            <i class="fab fa-accessible-icon fa-4x c-gray-8"></i>
        </div>
        <div class="c-1-text c-gray-8">
            <p>Accessibility</p>
        </div>
    </div>
</div>