.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.header {
    grid-column: 1/13;
    grid-row: 1;
    border: 2px dotted red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside {
    grid-column: 1/2;
    grid-row: 2/8;
    display: flex;
    align-items: center;
    border: 2px dotted blue;
}

.aside-text {
    transform: rotate(-90deg);
}

.content {
    grid-column: 2/13;
    grid-row: 2/8;
    border: 2px dotted yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    grid-column: 1/13;
    grid-row: 8;
    border: 2px dotted purple;
    display: flex;
    align-items: center;
    justify-content: center;
}